a {
  text-decoration: none;
}

body,
html {
  font-weight: 400;
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: 0;
}

li {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
ul,
figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {
  margin: auto;
  width: 100%;
}

*:focus {
  outline: none;
}

.pagination {
  width: 100%;
  text-align: center;
  margin: 2rem 0 3.75rem 0;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
}

.pagination a {
  display: inline-block;
  vertical-align: middle;
  padding: .3rem .6rem !important;
  margin: 0 .15rem;
  border-radius: .25rem;
  color: white;
  background: #C5D257;
}

.pagination span {
  font-size: 1.3rem;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  padding: .3rem .6rem !important;
  margin: 0 .15rem;
  border-radius: .25rem;
  background: #EEE;
  color: #C1C1C1;
}

.Button {
  line-height: 2.75rem;
  background: #C5D257;
  font-size: .85rem;
  font-weight: 500;
  width: 8rem;
  display: inline-block;
  text-align: center;
  color: #253A1B;
  border-radius: .125rem;
}

.Button:hover {
  cursor: pointer;
  box-shadow: inset 0 -.375rem 0 #B1BD4E;
}

.AlignRight {
  text-align: right;
}

.Title {
  padding: 1rem 0 2.5rem;
  font-weight: 500;
}

.BackContainer {
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.02);
}

.Map {
  width: 100%;
  height: 18.75rem;
  border-top: 0.375rem solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.375rem solid rgba(0, 0, 0, 0.5);
}

.MessagePlatform {
  height: 100vh;
  width: 100vw;
  background: rgba(242, 242, 242, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.MessagePlatform-content {
  max-width: 48.75rem;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0 0 2.0625rem 0 #D4D4D4;
  padding: 4rem;
  position: relative;
  text-align: justify;
}

.MessagePlatform-content p {
  font-weight: 300;
}

.MessagePlatform-content a {
  color: #27383F;
  text-decoration: underline;
}

.MessagePlatform-content h2 {
  color: #27383F;
  font-weight: 100;
}

.MessagePlatform-last {
  text-align: right;
}

.MessagePlatform-last span {
  color: #27383F;
  font-weight: 300;
}

.MessagePlatform-close {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background: #7F7F7F;
  font-size: 1.5rem !important;
  color: #C5D257;
  font-weight: 100 !important;
  padding: 0.5rem 0.75rem 0.375rem !important;
  cursor: pointer;
}

.MessagePlatform-ok {
  border-left: 1.5rem solid #E3F268;
}

.MessagePlatform-warning {
  border-left: 1.5rem solid #fff961;
}

.MessagePlatform-error {
  border-left: 1.5rem solid #ff5b65;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

[class^="col-"],
[class*=" col-"] {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.smaller-1 {
  -ms-flex-preferred-size: 8.3333333333%;
  -webkit-flex-basis: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.smaller-2 {
  -ms-flex-preferred-size: 16.6666666667%;
  -webkit-flex-basis: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.smaller-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.smaller-4 {
  -ms-flex-preferred-size: 33.3333333333%;
  -webkit-flex-basis: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.smaller-5 {
  -ms-flex-preferred-size: 41.6666666667%;
  -webkit-flex-basis: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.smaller-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.smaller-7 {
  -ms-flex-preferred-size: 58.3333333333%;
  -webkit-flex-basis: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.smaller-8 {
  -ms-flex-preferred-size: 66.6666666667%;
  -webkit-flex-basis: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.smaller-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.smaller-10 {
  -ms-flex-preferred-size: 83.3333333333%;
  -webkit-flex-basis: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.smaller-11 {
  -ms-flex-preferred-size: 91.6666666667%;
  -webkit-flex-basis: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.smaller-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 31.25rem) {
  .small-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .small-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .small-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .small-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .small-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .small-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .small-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .small-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .small-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .small-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .small-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .small-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 45rem) {
  .medium-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .medium-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .medium-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .medium-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .medium-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .medium-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .medium-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .medium-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .medium-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .medium-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .medium-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .medium-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 65rem) {
  .col-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.from-smaller,
.from-small,
.from-medium,
.from-large {
  display: none;
}

.offset-smaller-1 {
  margin-left: 8.3333333333%;
}

.offset-smaller-2 {
  margin-left: 16.6666666667%;
}

.offset-smaller-3 {
  margin-left: 25%;
}

.offset-smaller-4 {
  margin-left: 33.3333333333%;
}

.offset-smaller-5 {
  margin-left: 41.6666666667%;
}

.offset-smaller-6 {
  margin-left: 50%;
}

.offset-smaller-7 {
  margin-left: 58.3333333333%;
}

.offset-smaller-8 {
  margin-left: 66.6666666667%;
}

.offset-smaller-9 {
  margin-left: 75%;
}

.offset-smaller-10 {
  margin-left: 83.3333333333%;
}

.offset-smaller-11 {
  margin-left: 91.6666666667%;
}

.offset-smaller-12 {
  margin-left: 100%;
}

@media (min-width: 6.25rem) {
  .to-smaller {
    display: none;
  }

  .from-smaller {
    display: inherit;
  }
}

@media (min-width: 31.25rem) {
  .to-small {
    display: none;
  }

  .from-small {
    display: inherit;
  }

  .offset-small-1 {
    margin-left: 8.3333333333%;
  }

  .offset-small-2 {
    margin-left: 16.6666666667%;
  }

  .offset-small-3 {
    margin-left: 25%;
  }

  .offset-small-4 {
    margin-left: 33.3333333333%;
  }

  .offset-small-5 {
    margin-left: 41.6666666667%;
  }

  .offset-small-6 {
    margin-left: 50%;
  }

  .offset-small-7 {
    margin-left: 58.3333333333%;
  }

  .offset-small-8 {
    margin-left: 66.6666666667%;
  }

  .offset-small-9 {
    margin-left: 75%;
  }

  .offset-small-10 {
    margin-left: 83.3333333333%;
  }

  .offset-small-11 {
    margin-left: 91.6666666667%;
  }

  .offset-small-12 {
    margin-left: 100%;
  }
}

@media (min-width: 45rem) {
  .to-medium {
    display: none;
  }

  .from-medium {
    display: inherit;
  }

  .offset-medium-1 {
    margin-left: 8.3333333333%;
  }

  .offset-medium-2 {
    margin-left: 16.6666666667%;
  }

  .offset-medium-3 {
    margin-left: 25%;
  }

  .offset-medium-4 {
    margin-left: 33.3333333333%;
  }

  .offset-medium-5 {
    margin-left: 41.6666666667%;
  }

  .offset-medium-6 {
    margin-left: 50%;
  }

  .offset-medium-7 {
    margin-left: 58.3333333333%;
  }

  .offset-medium-8 {
    margin-left: 66.6666666667%;
  }

  .offset-medium-9 {
    margin-left: 75%;
  }

  .offset-medium-10 {
    margin-left: 83.3333333333%;
  }

  .offset-medium-11 {
    margin-left: 91.6666666667%;
  }

  .offset-medium-12 {
    margin-left: 100%;
  }
}

@media (min-width: 65rem) {
  .to-large {
    display: none;
  }

  .from-large {
    display: inherit;
  }

  .offset-1 {
    margin-left: 8.3333333333%;
  }

  .offset-2 {
    margin-left: 16.6666666667%;
  }

  .offset-3 {
    margin-left: 25%;
  }

  .offset-4 {
    margin-left: 33.3333333333%;
  }

  .offset-5 {
    margin-left: 41.6666666667%;
  }

  .offset-6 {
    margin-left: 50%;
  }

  .offset-7 {
    margin-left: 58.3333333333%;
  }

  .offset-8 {
    margin-left: 66.6666666667%;
  }

  .offset-9 {
    margin-left: 75%;
  }

  .offset-10 {
    margin-left: 83.3333333333%;
  }

  .offset-11 {
    margin-left: 91.6666666667%;
  }

  .offset-12 {
    margin-left: 100%;
  }
}

.start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.last {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.self-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.columns div:nth-child(even) {
  padding-right: 0.625rem;
}

.columns div:nth-child(odd) {
  padding-left: 0.625rem;
}

main {
  padding: 0 1.25rem;
}

@media (min-width: 45rem) {
  main {
    padding: 0;
  }
}

.Header {
  background: url("../images/agro_slider2.jpg") center;
  background-size: cover;
}

.Header-content {
  max-width: 75rem;
  margin: auto;
  padding: 2rem 1.25rem;
  color: white;
}

@media (min-width: 45rem) {
  .Header-content {
    padding: 5rem 1.25rem;
  }
}

.Header-content h1 {
  font-weight: 200;
  max-width: 100%;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

@media (min-width: 45rem) {
  .Header-content h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

.Header-content input,
.Header-content select,
.Header-content textarea {
  display: block;
  margin: 0 0 1rem;
  width: 100%;
  height: 2.25rem;
  border: 0.0625rem solid #898989;
  color: black;
  background: rgba(255, 255, 255, 0.3);
  padding: 0.625rem;
}

@media (min-width: 45rem) {
  .Header-content input,
  .Header-content select,
  .Header-content textarea {
    max-width: 21.875rem;
  }
}

.Header-content form {
  width: 100%;
}

.Header-content label {
  display: block;
  margin: 0;
  font-weight: 200;
}

.Header-content textarea {
  height: 5rem;
}

.Header-content button {
  border: none;
  background: #FF5722;
  padding: 0.625rem 1.75rem;
  box-shadow: 0 0.125rem 0.25rem #2a0f06;
  font-weight: 200;
  margin: 1rem 0;
  width: 100%;
}

@media (min-width: 45rem) {
  .Header-content button {
    width: auto;
    padding: 0.3125rem 1.75rem;
  }
}

h2 {
  text-align: center;
  font-weight: 300;
  margin: 2.5rem 0 1.25rem;
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

section {
  max-width: 75rem;
  margin: 2.5rem auto;
  text-align: center;
}

.padd {
  padding: 0 1.25rem;
  max-width: 100%;
}

article {
  max-width: 100%;
  padding: 1rem;
}

article p {
  text-align: justify;
  max-width: 100%;
}

@media (min-width: 45rem) {
  article p {
    text-align: center;
  }
}