a {
  text-decoration: none;
}

body,
html {
  font-weight: 100;
  height: 100%;
}

body {
  background: #7AA57C;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body.Login-Body {
  background: #405a61;
  background: linear-gradient(to bottom, #303c24 50%, #455436 100%);
}

*:focus {
  outline: 0;
}

li {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
ul,
figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {
  margin: auto;
  width: 100%;
}

main.container {
  margin-left: 12rem;
  width: calc(100vw - 12.5rem);
}

*:focus {
  outline: none;
}

.pagination {
  text-align: center;
  margin: 2rem 0 0;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
}

.pagination a {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #515D40;
  padding: .3rem .6rem !important;
  margin: 0 .15rem;
  border-radius: .25rem;
  background: #586549;
}

.pagination span {
  color: #DAE2CD;
  font-size: 1.1rem;
  padding: .3rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #515D40;
  padding: .3rem .6rem !important;
  margin: 0 .15rem;
  border-radius: .25rem;
  background: #788166;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?wg3tz2");
  src: url("fonts/icomoon.eot?wg3tz2#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?wg3tz2") format("truetype"), url("fonts/icomoon.woff?wg3tz2") format("woff"), url("fonts/icomoon.svg?wg3tz2#icomoon") format("svg");
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e901";
}

.icon-tag:before {
  content: "\e902";
}

.icon-cart:before {
  content: "\e900";
}

.icon-credit:before {
  content: "\e903";
}

.icon-notebook:before {
  content: "\e904";
}

.icon-bell:before {
  content: "\e905";
}

.icon-calendar:before {
  content: "\e608";
}

.icon-bubbles:before {
  content: "\e906";
}

.icon-bubble:before {
  content: "\e907";
}

.icon-user:before {
  content: "\e908";
}

.icon-user2:before {
  content: "\e909";
}

.icon-busy:before {
  content: "\e90a";
}

.icon-binoculars:before {
  content: "\e90b";
}

.icon-zoomin:before {
  content: "\e90c";
}

.icon-zoomout:before {
  content: "\e90d";
}

.icon-wrench:before {
  content: "\e90e";
}

.icon-settings:before {
  content: "\e90f";
}

.icon-stats:before {
  content: "\e910";
}

.icon-bars:before {
  content: "\e911";
}

.icon-leaf:before {
  content: "\e912";
}

.icon-lab:before {
  content: "\e913";
}

.icon-remove:before {
  content: "\e914";
}

.icon-briefcase:before {
  content: "\e915";
}

.icon-switch:before {
  content: "\e916";
}

.icon-signup:before {
  content: "\e917";
}

.icon-cloud-download:before {
  content: "\e918";
}

.icon-cloud-upload:before {
  content: "\e919";
}

.icon-upload:before {
  content: "\e91a";
}

.icon-earth:before {
  content: "\e91b";
}

.icon-point-up:before {
  content: "\e91c";
}

.icon-cancel-circle:before {
  content: "\e91d";
}

.icon-filter:before {
  content: "\e91e";
}

.icon-facebook:before {
  content: "\e602";
}

.icon-instagram:before {
  content: "\e60a";
}

.icon-twitter:before {
  content: "\e601";
}

.icon-wallet:before {
  content: "\e91f";
}

.Login {
  width: 90%;
  margin: auto;
  max-width: 30rem;
  position: relative;
  top: calc(50vh - 15rem);
}

.Login h2 {
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
}

.Login select {
  padding: 0 !important;
}

.Login input,
.Login select,
.Login textarea {
  line-height: normal;
  display: block;
  width: 90%;
  margin: 1rem auto;
  max-width: 25rem;
  height: 2.5rem;
  border-radius: 0.2rem;
  padding: 0 1rem 0;
  color: #E4FFC8;
  background: #65804A;
  background: linear-gradient(to right, #65804A 50%, #576B43 100%);
  border: 1px solid #87AD5D;
}

.Login input:focus,
.Login select:focus,
.Login textarea:focus {
  box-shadow: 0 0 .25rem white;
}

.Login textarea {
  min-height: 100px;
}

.Login ::-webkit-input-placeholder {
  color: #C1C1C1;
}

.Login :-moz-placeholder {
  color: #C1C1C1;
}

.Login ::-moz-placeholder {
  color: #C1C1C1;
}

.Login :-ms-input-placeholder {
  color: #C1C1C1;
}

.Login input[type='checkbox'] {
  max-width: 1.25rem;
  display: inline-block;
  vertical-align: middle;
  height: 1.25rem;
  margin: 0;
  position: relative;
  opacity: 0.5;
  outline: none;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: 0.1s ease-out all;
  cursor: pointer;
}

.Login input[type='checkbox']:before,
.Login input[type='checkbox']:after {
  content: '';
  position: absolute;
}

.Login input[type='checkbox']:after {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 2;
  height: 10px;
  width: 5px;
  top: 2px;
  left: 6px;
  -webkit-transform: rotate(-35deg) scale(0.8);
  transform: rotate(-35deg) scale(0.8);
  opacity: 0;
  transition: 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) all;
}

.Login input[type='checkbox']:before {
  background: #5A7045;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  top: -2px;
  left: -1px;
  border: 2px solid #5A7045;
}

.Login input[type='checkbox']:checked {
  opacity: 1;
}

.Login input[type='checkbox']:checked:after {
  -webkit-transform: rotate(35deg) scale(1);
  transform: rotate(35deg) scale(1);
  opacity: 1;
}

.Login input[type='checkbox']:focus {
  box-shadow: 0 0 0 0;
}

.Label-checkout {
  max-width: 82%;
  margin: .5rem auto;
  display: block;
  font-size: .875rem;
}

.Label-checkout a {
  color: #BCCD4B;
  font-weight: 400;
}

.login-restartPassword {
  color: #E4FFC8;
  display: block;
  width: 90%;
  margin: auto;
  max-width: 25rem;
  font-size: .85rem;
  font-weight: bold;
}

.login-restartPassword:hover {
  text-decoration: underline;
}

.Login-submit {
  color: #313D25;
  display: block;
  width: 90%;
  margin: 1.5rem auto;
  max-width: 25rem;
  background: #DBE6CF;
  border: none;
  height: 2.5rem;
  font-weight: 500;
  font-size: .9rem;
  box-shadow: 0 0.25rem 0 #8ca273;
  border-radius: 3px;
  line-height: 2.5rem;
}

.Login-submit:hover {
  box-shadow: 0 0 1rem #0E0E0E;
}

.Login-logo {
  max-width: 10rem;
  margin: auto;
  top: 1rem;
  left: 1rem;
  position: absolute;
}

.Header-login {
  position: absolute;
  display: block;
  top: 1.5rem;
  right: 2rem;
  color: #263A1C;
  padding: .8rem 2rem;
  background: #BCCD4B;
  border-radius: .2rem;
  font-weight: 400;
  box-shadow: 6px -2px 1px #263a1c;
  border: 1px solid rgba(255, 255, 255, 0.03);
}

.Logo-hr {
  width: 90%;
  margin: 1rem auto 2rem;
  max-width: 25rem;
  background: rgba(0, 0, 0, 0.3);
  height: 1px;
  border: none;
  box-shadow: 0px 1px 1px rgba(226, 226, 226, 0.24);
}

.Login-error {
  max-width: 25rem;
  display: block;
  margin: auto;
  color: tomato;
}

.Login-label {
  position: relative;
  display: block;
}

.passStrength {
  max-width: 25rem;
  position: absolute;
  bottom: 0;
  left: 2.5rem;
  width: 20%;
  height: .375rem;
  display: block;
  transition: background-color 0.55s cubic-bezier(0.3, 0.55, 0.1, 0.9), width 0.55s cubic-bezier(0.3, 0.55, 0.1, 0.9);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.15));
}

.Header {
  position: relative;
  padding: 1.5rem;
}

.Header h1 {
  font-size: 2rem;
  font-weight: 100;
  color: #F5FBEB;
}

.Header-messages {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}

.Header-messages span {
  border-radius: 50%;
  display: inline-block;
  background: rgba(63, 78, 49, 0.48);
  padding: .5rem;
  font-size: 1.2rem;
  color: #DAE2CD;
  cursor: pointer;
  position: relative;
}

.Header-messages span.active:after {
  content: '2';
  position: absolute;
  top: -6px;
  left: -5px;
  border-radius: 50%;
  background: tomato;
  display: block;
  font-size: .6rem;
  padding: 4px 6px 5px;
  line-height: .6rem;
}

.AdminHome {
  padding: 1.5rem;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.AdminHome h2 {
  font-weight: 100;
  font-size: 1.2rem;
  padding: .4rem 1rem;
}

.AdminHome h2 span {
  padding-right: .8rem;
}

.AdminHome-article {
  background: rgba(84, 97, 69, 0.55);
  width: calc( 33% - 1rem);
  margin: .5rem;
  padding: .5rem;
  color: #DAE2CD;
}

.AdminHome-table {
  width: 94%;
  border: 1px dashed;
  font-weight: 100;
  margin: .4rem auto .5rem;
  font-size: .9rem;
}

.AdminHome-table th {
  font-weight: 300;
  border-bottom: 1px dashed;
}

.AdminHome-table td,
.AdminHome-table th {
  padding: .5rem;
  text-align: center;
}

.AdminHome-table tbody tr:hover {
  background: #1c2117;
  cursor: pointer;
}

/* Categories */

.ContentInfo {
  background: #e3ecde;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem 1rem 1.5rem;
  color: #3F4633;
  max-width: 60rem;
  border: 2px solid #5A6D60;
  border-radius: 2px;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
}

.ContentInfo p {
  width: 94%;
  margin: 2rem auto 1rem;
  font-size: .9rem;
}

.ContentInfo ::-webkit-input-placeholder {
  color: #dce5dd;
}

.ContentInfo :-moz-placeholder {
  color: #dce5dd;
}

.ContentInfo ::-moz-placeholder {
  color: #dce5dd;
}

.ContentInfo :-ms-input-placeholder {
  color: #dce5dd;
}

.ContentInfo h2 {
  text-align: center;
  margin: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.ContentInfo input,
.ContentInfo select {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 15rem;
  padding: 0.3rem .5rem;
  background: #869980;
  color: white;
}

.ContentInfo input[type='file'],
.ContentInfo select[type='file'] {
  padding: .25rem;
}

.ContentInfo button {
  background: #5A6D60;
  border: 1px solid;
  padding: .3rem 2rem;
  margin-left: 0.5rem;
}

.ContentInfo a {
  color: #DAE2CD;
  font-size: 1.1rem;
  padding: .3rem;
}

.ContentInfo a:hover {
  color: #869980;
}

.ContentInfo-form {
  margin: 2.2rem 0 1rem;
  text-align: center;
}

.Bar {
  max-width: 12rem;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: fixed;
}

.Bar-logo {
  padding: 1rem 0;
  width: 100%;
  background: #3F4E31;
  text-align: center;
}

.Bar-logo img {
  max-width: 7rem;
}

.Bar-user {
  padding: .5rem 0 .4rem;
  background: rgba(8, 8, 8, 0.15);
}

.Bar-user figure {
  width: 4rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.Bar-user h4 {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  font-size: .8rem;
  font-weight: 400;
  margin: 0;
  padding-right: .5rem;
  width: 7.5rem;
  color: #F5FBEB;
}

.Bar-user span {
  display: block;
  font-weight: 200;
  font-size: .8em;
}

.Bar-user img {
  border-radius: 50%;
  width: 3rem;
}

.Nav {
  background: rgba(57, 72, 43, 0.82);
  height: calc(100vh - 9rem);
  padding-top: 1rem;
  overflow: auto;
}

.Nav li {
  font-size: .85rem;
}

.Nav a {
  color: #DAE2CD;
  padding: 1rem 2rem;
  display: block;
}

.Nav a:hover {
  background: #1c2117;
}

.Nav [class^="icon-"],
.Nav [class*=" icon-"] {
  padding-right: .5rem;
}

/* Search */

.Search {
  position: relative;
  text-align: right;
  padding: 1.7rem;
}

.Search input {
  padding-left: 2rem;
}

.Search button {
  position: absolute;
  padding: .5rem;
  right: 14.55rem;
  background: transparent;
  border: none;
}

.Search svg {
  max-width: 1rem;
  fill: #D6E5DA;
}

.Map-provider {
  width: 100%;
  height: 400px;
}

.Marker {
  position: relative;
  width: 49%;
  display: inline-block;
  background: #65804a;
  color: white;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  margin-left: 0.3rem;
}

.Product-select {
  margin: 1rem .5rem;
  height: 2rem;
}

#Product-form label {
  margin: 1rem 1rem 0;
}

#Product-form input,
#Product-form select {
  max-width: 60rem;
  height: 2rem;
}

#Product-form input,
#Product-form select,
#Product-form textarea {
  margin: 1rem;
  width: calc(100% - 2rem);
}

#Product-form button {
  display: none;
  color: white;
  margin: 1rem calc(50% - 7.5rem);
  width: 15rem;
}

#Product-form .dataForm {
  display: none;
}

#Product-form input[type='checkbox'] {
  width: 1.5rem;
  vertical-align: middle;
}

#Product-form input[type='checkbox'] span {
  display: inline;
}

.DataUser {
  width: 80%;
  margin: auto;
  min-width: 30rem;
  position: relative;
  top: calc(50vh - 15rem);
}

.DataUser h2 {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
}

.DataUser input,
.DataUser select {
  line-height: normal;
  display: block;
  margin: 1rem;
  min-width: 10rem;
  height: 2.5rem;
  border-radius: 0.2rem;
  padding: 0 1rem 0;
  color: #E4FFC8;
  background: #65804A;
  background: linear-gradient(to right, #65804A 50%, #576B43 100%);
  border: 1px solid #87AD5D;
}

.DataUser input form .form-group,
.DataUser select form .form-group {
  width: 100%;
}

input[type='file'] {
  opacity: 1;
}