a {
    text-decoration: none;
}

body,
html {
    font-weight: 100;
    height: 100%;
}

body {

    background: #FFF8E8;
    height: 100%;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
ul,
figure {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

main {
    margin: auto;
    width: 100%;
}

main.container {
    margin-left: 12rem;
    width: calc(100vw - 12.5rem);
}

@font-face {
    font-family: 'icomoon';
    src: url("fonts/icomoon.eot?wg3tz2");
    src: url("fonts/icomoon.eot?wg3tz2#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?wg3tz2") format("truetype"), url("fonts/icomoon.woff?wg3tz2") format("woff"), url("fonts/icomoon.svg?wg3tz2#icomoon") format("svg");
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e901";
}

.icon-tag:before {
    content: "\e902";
}

.icon-cart:before {
    content: "\e900";
}

.icon-credit:before {
    content: "\e903";
}

.icon-notebook:before {
    content: "\e904";
}

.icon-bell:before {
    content: "\e905";
}

.icon-calendar:before {
    content: "\e608";
}

.icon-bubbles:before {
    content: "\e906";
}

.icon-bubble:before {
    content: "\e907";
}

.icon-user:before {
    content: "\e908";
}

.icon-user2:before {
    content: "\e909";
}

.icon-busy:before {
    content: "\e90a";
}

.icon-binoculars:before {
    content: "\e90b";
}

.icon-zoomin:before {
    content: "\e90c";
}

.icon-zoomout:before {
    content: "\e90d";
}

.icon-wrench:before {
    content: "\e90e";
}

.icon-settings:before {
    content: "\e90f";
}

.icon-stats:before {
    content: "\e910";
}

.icon-bars:before {
    content: "\e911";
}

.icon-leaf:before {
    content: "\e912";
}

.icon-lab:before {
    content: "\e913";
}

.icon-remove:before {
    content: "\e914";
}

.icon-briefcase:before {
    content: "\e915";
}

.icon-switch:before {
    content: "\e916";
}

.icon-signup:before {
    content: "\e917";
}

.icon-cloud-download:before {
    content: "\e918";
}

.icon-cloud-upload:before {
    content: "\e919";
}

.icon-upload:before {
    content: "\e91a";
}

.icon-earth:before {
    content: "\e91b";
}

.icon-point-up:before {
    content: "\e91c";
}

.icon-cancel-circle:before {
    content: "\e91d";
}

.icon-filter:before {
    content: "\e91e";
}

.icon-facebook:before {
    content: "\e602";
}

.icon-instagram:before {
    content: "\e60a";
}

.icon-twitter:before {
    content: "\e601";
}

.icon-wallet:before {
    content: "\e91f";
}

.Header {
    background: #263A1C;
    text-align: center;
    padding: 1.2rem;
    position: relative;
}

.Header h2 {
    margin-top: .5rem;
    color: white;
    font-size: .8rem;
    font-weight: 400;
}

.Header-figure {
    max-width: 12rem;
    position: absolute;
    top: 1rem;

}

.Header-register, .Header-login {
    position: absolute;
    display: block;
    top: 2.5rem;
    right: 2rem;
    color: #263A1C;
    padding: .8rem 2rem;
    background: #BCCD4B;
    border-radius: .2rem;
    font-weight: 400;
    box-shadow: 6px -2px 1px rgb(38, 58, 28);
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.Nav a.Header-login {
    left: 2rem;
    width: 10rem;
    top: 0;
    line-height: 1rem;
    height: 0;
    box-shadow: none;
}

.Header-register:hover, .Header-login:hover {
    box-shadow: inset 0px 0px 14px rgba(0, 0, 0, 0.39);
}

.Nav {
    position: relative;
    text-align: center;
    background: #BCCD4B;
    padding: .6rem;
}

.Nav-user {
    position: absolute;
}

.Nav li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 2rem;
    border-left: 1px solid #263A1C;
}

.Nav li:hover a {
    color: white;
}

.Nav li:last-child {
    border-right: 1px solid #263A1C;
}

.Nav a {
    width: 7rem;
    color: #263A1C;
    display: block;
    font-weight: 500;
}

.Banner {
    background: url("../images/banner1.jpg") center;
    background-size: cover;
    height: 22rem;
    border-bottom: .4rem solid #BCCD4B;
}

.Search {
    text-align: center;
    color: #25391B;
    margin: 1rem auto .5rem;
}

.Search-form {
    padding: .5rem;
}

.Search-form input, .Search-form select, .Search-form button {
    border: 1px solid #263A1C;
    border-radius: .5rem;
    padding: .5rem;
    height: 28px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    vertical-align: middle;

}

.Search-form select {
    height: 26px;
}

.Search-form button {
    background: #263A1C;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    font-size: .7rem;
    text-transform: uppercase;
    color: white;
}

.title {
    text-align: center;
    background: #BCCD4B;
    color: #263a1e;
    padding: .6rem 0 .5rem;
    font-weight: 400;
}

.CategoriesHome {
    width: 60rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.CategoriesHome article {
    cursor: pointer;
    width: 30%;
    height: 200px;
    border: 4px solid #BCCD4B;
    border-radius: .5rem;
    margin: 1rem;
    background-size: cover;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.56);
    overflow: hidden;
    background-position: center;

}

.CategoriesHome-article {
    display: table-cell;
    vertical-align: middle;
    line-height: 200px;
    text-align: center;
    width: inherit;
    color: white;
}

.CategoriesHome-article:hover span {
    line-height: 180px;
    -webkit-transition: width 2s;
}

.CategoriesHome span {
    background: rgba(0, 0, 0, 0.4);
    padding: .7rem;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    font-weight: bold;

}

.Footer {
    background: #263A1C;
    color: white;
    border-top: 4px solid #BCCD4B;
    position: relative;
    text-align: center;
    padding: 0 1rem;
}

.Footer-logo {
    position: absolute;
    max-width: 150px;
    top: 3rem;
}

.NavFooter {
    width: 40rem;
    margin: auto;
}

.NavFooter a {
    color: #FFF8E8;
}

.NavFooter a:hover {
    text-decoration: underline;
}

.NavFooter ul {
    display: inline-block;
    vertical-align: top;
    margin: 1.5rem .7rem;
}

.NavFooter li {
    font-size: .7rem;
    text-align: left;
    padding: .1rem 0;
}

.copy {
    padding-bottom: 1rem;
    font-size: .75rem;
}

.NavFooter-TitleUL {
    font-weight: bold;
}

.associatedHome {
    max-width: 60rem;
    margin: 1rem auto;
    text-align: center;

}

.associatedHome img {
    border-radius: 10px;
    border: 4px solid #BCCD4B;
}

.Products {
    max-width: 60rem;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
}

.Products article {
    cursor: pointer;
    text-align: center;
    width: 21%;
    margin: 1rem;
    background-size: cover;
}

.Products article figure {
    padding: 1rem 0;
    background: white;
    border: 4px solid #BCCD4B;
    border-radius: .5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.56);
}

.Products figcaption {
    color: #263a1e;
    margin: .8rem 0 0;
    font-weight: bold;

}

.Products figcaption span {
    display: block;
    font-weight: 400;
}

.Product {
    margin: 5rem auto 2rem;
    max-width: 60rem;

}

.Product img {
    width: 90%;
}

.Product figure, .Product .Product-content {
    display: inline-block;
    vertical-align: top;
    color: #263A1C;
    margin: 0 19% 3rem;
}

.Product .Product-content {
    width: 74%;
    margin: 0;
    padding: 2rem;
}

.Product figure {
    padding: 1rem 0;
    background: white;
    border: 4px solid #BCCD4B;
    border-radius: 10px;
    width: 62.5%;
    text-align: center;
}

.Product h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 2rem 0 0;
}

.Product-features li {
    margin: 1rem;
    list-style: inherit;
    font-weight: 400;
}

.Product-features li span {
    font-weight: 100;
}

.Product-offer {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    color: black;
}

.Product-offerValue span {
    text-decoration: line-through;
}

.Product-offerTime {
    font-size: 1.5rem;
    font-weight: 400;
    color: #6F945C
}

.Product-offer h4 {
    text-align: center;
    font-size: 3rem;
    margin: .25rem 0 .5rem;
    font-weight: 500;
    color: #263A1C;
}

.Product-offerBuy {
    margin: auto;
    display: block;
    width: 10rem;
    text-align: center;
    padding: 1rem;
    background: #6F945C;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    border: #FDF8ED 1px solid;
    box-shadow: 0px 0px 4px rgba(105, 105, 105, 0.3);
    border-radius: 2rem;
}

.Product-content {
    padding: .4rem 0 1rem 1rem;
    text-align: justify;
}

.Product-content h2 {
    font-weight: 400;
}

.Product-price {
    font-weight: 600;
    font-size: 1.4rem;
    display: block;
}

.Product-button {
    margin: 1rem 0;
    border: none;
    color: #FFF8E8;
    background: #263A1C;
    padding: 1rem;
    cursor: pointer;
}

.Product-button:hover {
    color: white;
}

.Cart {
    margin: 5rem auto 0;
    width: 60rem;
    background: url("../images/cart.png") center no-repeat;
    height: 10rem;
}

.Home-top {
    margin: 2rem auto;
    width: 60rem;
    color: #000000;
}

.Home-top h3 {
    max-width: 16rem;
    text-align: center;
    margin: 1.5rem 0 1rem;
}

.NavCategories-ul ul {
    display: none;
    position: absolute;
    left: 100%;
    top: -.5rem;
    width: 16rem;
    background: #FFF8E8;
}

.NavCategories-ul li {
    text-transform: capitalize;
    margin: .4rem 1rem;
    font-weight: 400;
    border-bottom: 1px dashed;
    padding: 0.5rem 0;
    cursor: pointer;
    position: relative;
}

.NavCategories-ul li ul li:last-child {
    border: none;
}

.NavCategories-ul li:hover ul {
    display: block;
}

.NavCategories-ul {
    max-width: 16rem;

}

#map {
    width: 100%;
    height: 22rem;
    margin: .5rem 0 2rem;
    border: .2rem solid;
}

a.Shopping {
    width: 12rem;
    position: absolute;
    top: 0;
    right: 0;
    color: #263A1C;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.5rem;
    display: block;
    cursor: pointer;
}

.Shopping:hover {
    background: #263A1C;
    color: #BCCD4B;
}


.Shopping svg {
    display: inline;
    max-width: 2rem;
    vertical-align: middle;
}


.Shopping:hover .st0{fill: #A2AF4B}
.Shopping:hover .st1{fill: #B1C145;}
.Shopping:hover .st2{fill: #A2AD5B;}
.Shopping:hover .st3{fill:#BCCD4B;}
.Shopping:hover .st4{fill:#BCCD4B;}
.Shopping:hover .st5{fill:#BCCD4B;}
.Shopping:hover .st6{fill:#BCCD4B;}
.Shopping:hover .st7{fill: #BCCD4B;}

.YouCart{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 100vh;
    color: black;
    z-index: -1;
    transition: all .4s;
}
.YouCart-content{
    background: white;
    width: 18rem;
    position: absolute;
    right: -18rem;
    height: 100%;
    transition: all .6s;
}
.YouCart-content h3{
    background: #121C0D;
    padding: 1.5rem 0 1.2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}
.YouCart-checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.YouCart-checkoutButton{
    display: block;
    margin: 1rem auto 2rem;
    padding: .75rem 2rem .5rem;
    background: #121C0D;
    color: white;
    border: 2px solid #020403;
}

.YouCart-closed{
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 18rem);

}
.YouCart.show{
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.YouCart-content.show{
    right: 0;
}