a {
  text-decoration: none;
}

body,
html {
  font-weight: 100;
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: 0;
}

li {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
ul,
figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {
  margin: auto;
  width: 100%;
}

*:focus {
  outline: none;
}

.pagination {
  text-align: center;
  margin: 2rem 0 0;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
}

.pagination a {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #515D40;
  padding: .3rem .6rem !important;
  margin: 0 .15rem;
  border-radius: .25rem;
  background: #586549;
}

.pagination span {
  color: #DAE2CD;
  font-size: 1.1rem;
  padding: .3rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #515D40;
  padding: .3rem .6rem !important;
  margin: 0 .15rem;
  border-radius: .25rem;
  background: #788166;
}

.Button {
  line-height: 2.75rem;
  background: #C5D257;
  font-size: .85rem;
  font-weight: 500;
  width: 8rem;
  display: inline-block;
  text-align: center;
  color: #253A1B;
  border-radius: .125rem;
}

.Button:hover {
  cursor: pointer;
  box-shadow: inset 0 -.375rem 0 #B1BD4E;
}

.AlignRight {
  text-align: right;
}

.Title {
  padding: 1rem 0 2.5rem;
  font-weight: 500;
}

.BackContainer {
  background: #ffffff;
  box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.02);
}

.HeaderBack {
  max-width: 71.25rem;
  margin: auto;
  position: relative;
}

.HeaderBack-figure {
  padding: 0.875rem 2.9375rem;
  background: #253A1B;
  height: 4.25rem;
}

.HeaderBack-right {
  background: #FFFFFF;
  box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0.12);
  height: 4.25rem;
  padding: 0 3rem;
}

.HeaderBack-right h1 {
  color: #253A1B;
  font-size: 1.0625rem;
  font-weight: 400;
}

.HeaderBack-right svg {
  vertical-align: top;
}

.HeaderBack-profileNav {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0.3125rem 0.3125rem 0 0 rgba(212, 212, 212, 0.25);
  top: -1.25rem;
  right: 3.375rem;
  text-align: center;
  width: 9.375rem;
  padding: 1.125rem 0;
  transition: all 0.5s;
}

.HeaderBack-profileNav a {
  font-size: 0.875rem;
  color: gray;
}

.HeaderBack-profileNav a:hover {
  color: #C5D257;
}

.HeaderBack-profileNav li:first-child {
  margin-bottom: 0.5rem;
}

.HeaderBack-profile {
  position: relative;
  background: white;
  z-index: 2;
  height: 4.25rem;
}

.HeaderBack-profile svg {
  cursor: pointer;
  transition: all 0.5s;
}

.HeaderBack-profile h3 {
  color: #979797;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: left;
  margin: 0 0.375rem;
}

.HeaderBack-profile h3 span {
  display: block;
  font-size: 0.625rem;
}

.HeaderBack-profile figure {
  max-width: 2.5rem;
  position: relative;
}

.HeaderBack-profile figure img {
  border-radius: 50%;
}

.HeaderBack-profile figure span {
  position: absolute;
  color: white;
  background: #F36664;
  border-radius: 50%;
  top: -0.375rem;
  left: -0.625rem;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid white;
  font-size: 0.625rem;
  text-align: center;
  line-height: 1.125rem;
  font-weight: 400;
}

.HeaderBack-profileOpen + .HeaderBack-profileNav {
  top: 4.25rem;
}

.HeaderBack-profileOpen svg {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.Nav {
  background: #FFFFFF;
  box-shadow: 0 0.0625rem 0.625rem 0 rgba(50, 50, 50, 0.12);
  min-height: calc(100vh - 68px);
  z-index: 1;
}

.Nav img {
  margin: auto;
}

.Nav a {
  height: 4rem;
  color: #253A1B;
  font-size: 0.9375rem;
  font-weight: 400;
  display: block;
  text-align: center;
  padding: 1rem 0;
}

.Nav a:hover {
  background: #F8F8F8;
}

.Nav li {
  border-bottom: 1px solid #D9D9D9;
}

.Nav li:last-child {
  border: none;
}

.MainBack {
  max-width: 71.25rem;
}

.MainBack-container {
  padding: 3rem;
  box-shadow: 0 0.0625rem 0.625rem 0 rgba(50, 50, 50, 0.02);
}

.Table {
  width: 100%;
  overflow: auto;
  margin: 1.25rem 0;
  min-width: 53.125rem;
  text-align: center;
}

.Table thead {
  color: white;
  background: #4F4F4F;
}

.Table tbody tr:nth-child(even) {
  background: #F8F8F8;
}

.Table td,
.Table th {
  padding: 1.25rem 15px;
}

tr.Subtable {
  padding: 0;
}

tr.Subtable > td {
  padding: 0;
}

tr.Subtable .Table {
  overflow: hidden;
  display: none;
}

tr.Subtable .Table.open {
  display: table;
}

tr.Subtable .Table thead {
  background: #9D9D9D;
}

tr.Subtable .iconPlus {
  display: none;
}

.iconPlus {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}

.iconPlus:before,
.iconPlus:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 2px;
  display: block;
  background: #8BD0ED;
}

.iconPlus:before {
  margin-left: -8px;
  margin-top: -2px;
  width: 16px;
  height: 4px;
}

.iconPlus:after {
  transition: all .5s ease;
  margin-top: -8px;
  margin-left: -2px;
  height: 16px;
  width: 4px;
}

.iconPlus.open:after {
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

[class^="col-"],
[class*=" col-"] {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.small-1 {
  -ms-flex-preferred-size: 8.3333333333%;
  -webkit-flex-basis: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.small-2 {
  -ms-flex-preferred-size: 16.6666666667%;
  -webkit-flex-basis: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.small-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.small-4 {
  -ms-flex-preferred-size: 33.3333333333%;
  -webkit-flex-basis: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.small-5 {
  -ms-flex-preferred-size: 41.6666666667%;
  -webkit-flex-basis: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.small-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.small-7 {
  -ms-flex-preferred-size: 58.3333333333%;
  -webkit-flex-basis: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.small-8 {
  -ms-flex-preferred-size: 66.6666666667%;
  -webkit-flex-basis: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.small-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.small-10 {
  -ms-flex-preferred-size: 83.3333333333%;
  -webkit-flex-basis: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.small-11 {
  -ms-flex-preferred-size: 91.6666666667%;
  -webkit-flex-basis: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.small-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 45rem) {
  .medium-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .medium-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .medium-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .medium-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .medium-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .medium-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .medium-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .medium-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .medium-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .medium-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .medium-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .medium-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 65rem) {
  .col-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.offset-small-1 {
  margin-left: 8.3333333333%;
}

.offset-small-2 {
  margin-left: 16.6666666667%;
}

.offset-small-3 {
  margin-left: 25%;
}

.offset-small-4 {
  margin-left: 33.3333333333%;
}

.offset-small-5 {
  margin-left: 41.6666666667%;
}

.offset-small-6 {
  margin-left: 50%;
}

.offset-small-7 {
  margin-left: 58.3333333333%;
}

.offset-small-8 {
  margin-left: 66.6666666667%;
}

.offset-small-9 {
  margin-left: 75%;
}

.offset-small-10 {
  margin-left: 83.3333333333%;
}

.offset-small-11 {
  margin-left: 91.6666666667%;
}

.offset-small-12 {
  margin-left: 100%;
}

@media (min-width: 45rem) {
  .offset-medium-1 {
    margin-left: 8.3333333333%;
  }

  .offset-medium-2 {
    margin-left: 16.6666666667%;
  }

  .offset-medium-3 {
    margin-left: 25%;
  }

  .offset-medium-4 {
    margin-left: 33.3333333333%;
  }

  .offset-medium-5 {
    margin-left: 41.6666666667%;
  }

  .offset-medium-6 {
    margin-left: 50%;
  }

  .offset-medium-7 {
    margin-left: 58.3333333333%;
  }

  .offset-medium-8 {
    margin-left: 66.6666666667%;
  }

  .offset-medium-9 {
    margin-left: 75%;
  }

  .offset-medium-10 {
    margin-left: 83.3333333333%;
  }

  .offset-medium-11 {
    margin-left: 91.6666666667%;
  }

  .offset-medium-12 {
    margin-left: 100%;
  }
}

@media (min-width: 65rem) {
  .offset-1 {
    margin-left: 8.3333333333%;
  }

  .offset-2 {
    margin-left: 16.6666666667%;
  }

  .offset-3 {
    margin-left: 25%;
  }

  .offset-4 {
    margin-left: 33.3333333333%;
  }

  .offset-5 {
    margin-left: 41.6666666667%;
  }

  .offset-6 {
    margin-left: 50%;
  }

  .offset-7 {
    margin-left: 58.3333333333%;
  }

  .offset-8 {
    margin-left: 66.6666666667%;
  }

  .offset-9 {
    margin-left: 75%;
  }

  .offset-10 {
    margin-left: 83.3333333333%;
  }

  .offset-11 {
    margin-left: 91.6666666667%;
  }

  .offset-12 {
    margin-left: 100%;
  }
}

.start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.last {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

/* Categories */

.ContentInfo {
  background: #e3ecde;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem 1rem 1.5rem;
  color: #3F4633;
  max-width: 60rem;
  border: 2px solid #5A6D60;
  border-radius: 2px;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
}

.ContentInfo p {
  width: 94%;
  margin: 2rem auto 1rem;
  font-size: .9rem;
}

.ContentInfo ::-webkit-input-placeholder {
  color: #dce5dd;
}

.ContentInfo :-moz-placeholder {
  color: #dce5dd;
}

.ContentInfo ::-moz-placeholder {
  color: #dce5dd;
}

.ContentInfo :-ms-input-placeholder {
  color: #dce5dd;
}

.ContentInfo h2 {
  text-align: center;
  margin: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.ContentInfo input,
.ContentInfo select {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 15rem;
  padding: 0.3rem .5rem;
  background: #869980;
  color: white;
}

.ContentInfo input[type='file'],
.ContentInfo select[type='file'] {
  padding: .25rem;
}

.ContentInfo button {
  background: #5A6D60;
  border: 1px solid;
  padding: .3rem 2rem;
  margin-left: 0.5rem;
}

.ContentInfo a {
  color: #DAE2CD;
  font-size: 1.1rem;
  padding: .3rem;
}

.ContentInfo a:hover {
  color: #869980;
}

.ContentInfo-form {
  margin: 2.2rem 0 1rem;
  text-align: center;
}

.Forms input,
.Forms textarea,
.Forms select {
  background: #FFFEFE;
  width: 100%;
  height: 4rem;
  display: block;
  font-size: 1rem;
  margin: 1.75rem 0;
  font-weight: 300;
  padding: 1rem 1.25rem 0;
  color: gray;
  border: 1px solid #C5C5C5;
  border-radius: 0;
}

.Forms textarea {
  padding: 2rem 1.5rem 0;
  resize: vertical;
  min-height: 8rem;
  max-height: 16rem;
}

.Forms label {
  position: relative;
  display: block;
  cursor: text;
}

.Forms span {
  position: absolute;
  top: 1.5rem;
  color: #C5C5C5;
  font-weight: 300;
  left: 1.25rem;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.Forms .Button {
  width: 100%;
  padding: .375rem 0;
  margin-bottom: 1rem;
}

.Forms .open span {
  font-size: 0.75rem;
  top: 1rem;
  color: gray;
}

.Forms a {
  color: gray;
  font-weight: 300;
}

.Forms a:hover {
  color: #C5D257;
  text-decoration: underline;
}

.Forms sub {
  position: absolute;
  background: #D8D8D8;
  border-radius: 50%;
  height: 1.125rem;
  width: 1.125rem;
  top: 0.0625rem;
  left: 0;
  cursor: pointer;
}

.Forms sub:before {
  content: '';
  position: absolute;
  border-right: 0.125rem solid;
  border-bottom: 0.125rem solid;
  height: 0.5rem;
  width: 0.25rem;
  border-color: #D8D8D8;
  top: 0.1875rem;
  left: 0.375rem;
  transition: all 0.2s;
}

.Forms input[type="checkbox"] {
  width: 0.625rem;
  margin: 0 0.25rem;
  height: 0.625rem;
  display: inline-block;
}

.Forms input[type="checkbox"]:checked + sub {
  background: #C5D257;
}

.Forms input[type="checkbox"]:checked + sub:before {
  border-color: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.Forms-checkout {
  font-weight: 100;
  color: gray;
  line-height: 1.25rem;
  text-align: left;
  margin-top: 0.625rem;
  cursor: pointer;
}

body {
  background: #F8F8F8;
}

.HeaderAuth {
  background: #253A1B;
}

.HeaderAuth-content {
  padding: 1rem;
  background: #253A1B;
  max-width: 71.25rem;
  width: 100%;
  margin: auto;
}

.FormAuth {
  margin: 3rem;
}

.FormAuth input {
  width: 24.375rem;
}

.FormAuth h2 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #616161;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.FormAuth .Button {
  margin: 3rem 0 0;
}

.FormAuth .Errors-password {
  width: 0;
  position: absolute;
  bottom: 0;
  background: #F36664;
  height: 0.25rem;
  transition: width 0.4s;
}

.Login {
  height: calc(100% - 15rem);
}

.Login a {
  margin-top: -0.625rem;
  display: block;
  text-align: right;
  color: #C5C5C5;
}

/* Search */

.Search {
  position: relative;
  text-align: right;
  padding: 1.7rem;
}

.Search input {
  padding-left: 2rem;
}

.Search button {
  position: absolute;
  padding: .5rem;
  right: 14.55rem;
  background: transparent;
  border: none;
}

.Search svg {
  max-width: 1rem;
  fill: #D6E5DA;
}

.Map-provider {
  width: 100%;
  height: 400px;
}

.Marker {
  position: relative;
  width: 49%;
  display: inline-block;
  background: #65804a;
  color: white;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  margin-left: 0.3rem;
}

.Product-select {
  margin: 1rem .5rem;
  height: 2rem;
}

#Product-form label {
  margin: 1rem 1rem 0;
}

#Product-form input,
#Product-form select {
  max-width: 60rem;
  height: 2rem;
}

#Product-form input,
#Product-form select,
#Product-form textarea {
  margin: 1rem;
  width: calc(100% - 2rem);
}

#Product-form button {
  display: none;
  color: white;
  margin: 1rem calc(50% - 7.5rem);
  width: 15rem;
}

#Product-form .dataForm {
  display: none;
}

#Product-form input[type='checkbox'] {
  width: 1.5rem;
  vertical-align: middle;
}

@media (min-width: 45rem) {
  #Product-form input[type='checkbox'] {
    width: 1px;
  }
}

#Product-form input[type='checkbox'] span {
  display: inline;
}

.Message {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.Message_Popup {
  border-right: 1px #C5D257 solid;
  border-left: 1px #C5D257 solid;
  width: 30%;
  min-width: 320px;
  background: rgba(37, 58, 27, 0.9);
  border-radius: 10px;
  padding: 60px;
}

.Message_Popup h3 {
  text-align: center;
}

.button {
  color: #000;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  margin-top: 1em;
  padding: 1rem;
  border-radius: 5px;
}

.button:hover {
  background: rgba(255, 255, 255, 0.9);
}

.close-popup {
  display: none;
}