.autocomplete
  position: relative
  z-index: 2
  max-height: rem(400)
  cursor: pointer

  .result.open
    display: block
    position: absolute
    top: rem(45)

  .result
    position: relative
    min-height: rem(79)
    font-weight: 300
    display: none
    width: 100%
    background: #fff
    border-radius: 0 0 rem(3) rem(3)
    padding: rem(14) 0

    li
      height: rem(50)
      padding: rem(6) rem(12)
      &:hover
        background: #d7d7d7
      a
        display: flex
        align-items: center
        .no-data
          padding-left: rem(16)

.autocomplete-result-image
  width: rem(40)
  height: rem(40)
  overflow: hidden
  margin-right: rem(12)

.autocomplete-result-text
  font-size: .85rem
  text-transform: capitalize

.autocomplete.light li
  height: auto
  span
    padding: rem(7) 0
    display: block