.Bar
  max-width: 12rem
  display: inline-block
  vertical-align: top
  overflow: hidden
  position: fixed
.Bar-logo
  padding: 1rem 0
  width: 100%
  background: #3F4E31
  text-align: center
  & img
    max-width: 7rem
.Bar-user
  padding: .5rem 0 .4rem
  background: rgba(8, 8, 8, 0.15)
  & figure
    width: 4rem
    display: inline-block
    vertical-align: middle
    text-align: center
  & h4
    display: inline-block
    vertical-align: middle
    text-align: right
    font-size: .8rem
    font-weight: 400
    margin: 0
    padding-right: .5rem
    width: 7.5rem
    color: #F5FBEB

  & span
    display: block
    font-weight: 200
    font-size: .8em
  & img
    border-radius: 50%
    width: 3rem
.Nav
  background: rgba(57, 72, 43, 0.82)
  height: calc(100vh - 9rem)
  padding-top: 1rem
  overflow: auto
  & li
    font-size: .85rem
  & a
    color: #DAE2CD
    padding: 1rem 2rem
    display: block
    &:hover
      background: rgb(28, 33, 23)
  & [class^="icon-"], & [class*=" icon-"]
    padding-right: .5rem