.Login
  width: 90%
  margin: auto
  max-width: 30rem
  position: relative
  top: calc(50vh - 15rem)

  & input, & select
    line-height: normal
    display: block
    width: 90%
    margin: 1rem auto
    max-width: 25rem
    height: 2.5rem
    border-radius: 0.2rem
    padding: 1rem 1rem 0.9rem
    color: #E4FFC8
    background: #65804A
    background: -moz-linear-gradient(to right, #65804A 50%, #576B43 100%)
    background: -webkit-linear-gradient(to right, #65804A 50%, #576B43 100%)
    background: linear-gradient(to right, #65804A 50%, #576B43 100%)
    border: 1px solid #87AD5D
    &:focus
      box-shadow: 0 0 .25rem white
  @include placeholder
    color: #C1C1C1

.login-restartPassword
  color: #E4FFC8
  display: block
  width: 90%
  margin: auto
  max-width: 25rem
  font-size: .85rem
  font-weight: bold
  &:hover
    text-decoration: underline
.Login-submit
  color: #313D25
  display: block
  width: 90%
  margin: 1.5rem auto
  max-width: 25rem
  background: #DBE6CF
  border: none
  height: 2.5rem
  font-weight: 500
  font-size: .9rem
  box-shadow: 0 0.25rem 0 #8ca273
  border-radius: 3px
  line-height: 2.5rem
  &:hover
    box-shadow: 0 0 1rem #0E0E0E

.Login-logo
  max-width: 22rem
  margin: auto
.Logo-hr
  width: 90%
  margin: 1rem auto 2rem
  max-width: 25rem
  background: rgba(0, 0, 0, 0.3)
  height: 1px
  border-bottom: none
  border-top: none
  border-right: none
  border-left: none
  box-shadow: 0px 1px 1px rgba(226, 226, 226, 0.24)

.Login-error
  max-width: 25rem
  display: block
  margin: auto
  color: tomato


