@import "lib/settings"
@import "lib/general"
@import "lib/layoutback"
@import "lib/tables"
@import "lib/grid"
@import "loginAdmin"
@import "admin/search"
@import "admin/product"


@import 'mainBack2'

.Order-userData
  text-align: left
  margin: rem(20) 0
  ul
    text-align: left
  li
    margin: rem(4) 0
.Order-formUpdate
  margin: rem(24) 0 0
  select
    border: rem(1) solid #E4E4E4
    background: white
    width: rem(200)
    height: rem(46)

#Notify
  position: relative
  cursor: pointer
#NotifyList
  opacity: 0
  visibility: hidden
  color: #27383f
  font-size: rem(14)
  position: absolute
  background: white
  top: rem(65)
  width: rem(300)
  left: rem(-176)
  text-align: left
  box-shadow: 0 5px 20px 0 rgba(50, 50, 50, 0.12)
  @include transition(.3s all)
  &.open
    opacity: 1
    visibility: visible
    top: rem(50)
  .title
    padding: rem(8) rem(16)
    font-size: rem(12)
  .all
    text-align: center
    font-size: rem(12)
    a
      padding: rem(8)
      color: $greenLight
  li
    border-bottom: #f0f0f0 rem(1) solid
    &:first-child
      border-top: #f0f0f0 rem(1) solid
    &.isOpen
      background: #fbffdd
      color: white
  a
    padding: 1rem
    display: block
    color: $greenDark
    &:hover
      background: #f6f6f6
  .Table-notification a
    display: block
    width: 100%
    li.isOpen
      background: #fbffdd
      color: white

.View-products
  display: none
  @include respond-to(middle)
    display: block

.HeaderBack-profile
  width: 50%
