@import 'admin/questions'

$greenLight: #C5D257
$widthContent: 71.25rem

.button
  color: #000
  width: 100%
  background: rgba(255,255,255, .6)
  margin-top: 1em
  padding: 1rem
  border-radius: 5px
  &:hover
    background: rgba(255,255,255, .9)

.close-popup
  display: none

.Map
  width: 100%
  height: 400px