@import "lib/settings"
@import "lib/general"
@import "lib/grid"
@import "lib/alerts"

/******* FRONT STYLES ******/

$widthContent: 76rem

main
  padding: 0 rem(20)
  max-width: $widthContent
  margin: auto

body
  background: white
  color: $greenDark

@import "front/header"
@import "front/menus"
@import "front/products"
@import "front/faqs"
@import "front/footer"
@import "front/contact"
@import "front/social"
@import "front/aside"
@import "lib/autocomplete"

.Chat
  position: fixed
  bottom: rem(30)
  right: rem(176)
  z-index: 10
