.Footer
  background: $greenDark
  padding-top: rem(30)
  overflow: hidden

.Footer a
  color: white

.Footer-content
  margin: auto
  max-width: $widthContent
  height: 100%

.Footer-logo img
  margin: auto
  padding-bottom: rem(10)

.NavFooter-TitleUL ul
  border-radius: rem(5)
  opacity: .3
  padding: rem(10) rem(10) 0
  width: 100%

.NavFooter .copy
  opacity: .5
  color: white
  padding: rem(10)
  font-size: .7rem
  display: block

.NavFooter-TitleUL a
  display: block
  padding: rem(5)
  width: 100%

.NavFooter-TitleUL:hover ul
  opacity: 1

.NavFooter-TitleUL ul a:hover
  color: $greenLight

.NavSocial
  width: 100%
  a
    display: block
    margin: rem(10) 0.5rem

    &:hover
      svg ellipse
        stroke: #C6C6C6
      svg path
        fill: #C6C6C6