
$greenDark: #253A1B
$greenLight: #C5D257
$widthContent: 71.25rem

.Footer
  background: $greenDark
  padding-top: 30px

.Footer a
  color: white

.Footer-content
  margin: auto
  max-width: $widthContent
  height: 100%

.NavFooter-TitleUL
  position: relative
  padding-bottom: 30px

.NavFooter-TitleUL ul
  border-radius: 5px
  display: none
  position: absolute
  padding: 10px
  background: #1E2E16
  width: 100%

.NavFooter-TitleUL a
  display: block
  padding: 5px
  width: 100%

.NavFooter-TitleUL:hover ul
  display: block
  
.NavFooter-TitleUL ul a:hover
  color: $greenLight

.NavSocial
  width: 100%
  a
    display: block
    margin: 20px 0.5rem