.Header-product
  margin: rem(36) 0
  p
    text-align: justify
    margin: 0
  h1
    font-weight: 400
  h4
    font-size: rem(32)
    font-weight: 400
  span
    display: block
    color: #747474
    font-size: rem(14)
  input
    height: rem(28)
    border: rem(1) solid #26383F
    margin-top: rem(4)
    padding: rem(8)
    font-size: rem(17)
    width: rem(140)
  li
    margin: 0 rem(4)
  .Button
    width: 10rem
    margin-right: rem(8)

.Header-productDescription
  color: #494949
  font-size: 1rem
  max-height: rem(112)
  overflow: hidden
  display: block
  margin: rem(8) 0
  line-height: rem(19)

.Header-productInfo
  padding-left: 1.1rem
  .Header-productInfoContent
    border: 5px solid #D4DD82
    width: 100%
    padding: rem(12)
.Header-productInfoContent
  .Button
    height: rem(38)
    line-height: inherit
    padding-top: rem(12)
  p
    font-size: rem(19)
  li
    font-size: rem(14)
    color: #494949
    line-height: rem(20)
    margin: 0
.ProductInfo-table
  table
    width: 100%
  th
    padding: rem(14) rem(12)
    font-size: rem(15)
    font-weight: 400
  td
    padding: rem(8) rem(12)
    font-size: rem(14)

  p
    margin: 0
  table, th, td
    border: rem(1) solid #ECECEC

  thead
    background: #C6D258
    text-align: left
  .ranking
    font-size: rem(12)


